<footer>
    <!-- Footer goes here -->
    <p>Copyright&copy; 2018 Kolli,Pradeep</p> 
</footer>
<script src="/Bootstrap/js/bootstrap.js"></script>
<script src="/JS/AppScripts.js"></script>
</body>
</html>