<% include header %>
<header>
    <div class="row">
        <div class="col-lg-12 mt10">
            <h1 class="text-center ContactHeader">Let's play a small game, shall we?</h1>
        </div>
    </div>
</header>
<main>
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center ContactHeader">BINGO</h2>
        </div>
    </div>
    <div class="row mt10 mb10">
        <div class="col-lg-12 text-center">
            <button class="btn btn-primary" onclick="addNumber()">GENERATE NUMBER</button>
        </div>
    </div>
    <div class="row mt10 mb10 bingoNumbers">
        <div class="col-lg-12 text-center">
            <!-- <p></p> <p></p> <p></p> <p></p> <p></p> 
            <p></p> <p></p> <p></p> <p></p> <p></p>  -->
        </div>
    </div>
    <div class="row gameGrid">
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">

        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">
                <span>25</span>
        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">

        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">
                <span>18</span>
        </div>
    </div>
    <div class="row gameGrid">
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">
                <span>5</span>
        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">

        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">

        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">
                <span>8</span>
        </div>
    </div>
    <div class="row gameGrid">
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">

        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">
                <span>10</span> 
        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">
                <span>12</span>
        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">

        </div>
    </div>
    <div class="row gameGrid">
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">
            <span>3</span> 
        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">

        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">

        </div>
        <div class="col-lg-3 col-xs-3 col-sm-3 col-md-3 gameCol">
           <span> 1</span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <button class="btn btn-success  mt10 mb10" onclick="bingo()">BINGO !!</button>
        </div>
    </div>
   
</main>
</div>
</div>
</div>
<% include footer %>
