<!doctype html>
<!-- /*******************************Author   : Kolli,Pradeep   ***************************/
     /*******************************Date     : 09/25/2018      ***************************/
     /*******************************Reviewer : Dr.Case,Denise  ***************************/ -->
<html lang="en">
    <head>
        <title>Pradeep Kolli</title>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="Bootstrap/css/bootstrap.css"  rel="stylesheet"/>
        <link href="css/Styles.css"  rel="stylesheet"/>
        <link href="/css/Spacing.css"  rel="stylesheet"/>
        <link href="/fonts/font-awesome/css/font-awesome.css"  rel="stylesheet"/>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="wrapper">
                <div class="contentBox">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="\">Pradeep Kolli</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <!-- <div id="navToggle">
                                <input type="checkbox" />
                                <span></span>
                                <span></span>
                                <span></span>
                            </div> -->
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                            <li class="nav-item <%= page === 'index' ? 'active' : '' %>">
                                <a class="nav-link" href="\index" >Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item <%= page === 'game' ? 'active' : '' %>">
                                <a class="nav-link" href="\game" >Game</a>
                            </li>
                            <li class="nav-item <%= page === 'contact' ? 'active' : '' %>">
                                <a class="nav-link" href="\contactUs" >Contact</a>
                            </li>
                            </ul>
                        </div>
                    </nav>